.rbc-calendar .rbc-btn-group {
    font-size: 12px;
    font-weight: bold !important;
    text-transform: uppercase !important;
    border-color: #eee !important;
}
.rbc-calendar .rbc-active {
    background: red !important;
    color: white !important;
}
.rbc-event {
    background-color: #82a608 !important;
}
.rbc-event-content {
    background-color: #82a608 !important;
}
.rbc-today {
    background-color: #e0f2a4 !important;
}
@media only screen and (max-width: 728px) {
    .rbc-month-header {
        max-height: 40px !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        padding-top: 10px;
    }
    .rbc-month-row {
        max-height: 40px !important;
    }
    .rbc-toolbar {
        flex-direction: column;
    }
}
