<html>

    <head>
        <style>
        </style>
    </head>

    <body>
        <p>Hi {{name}},</p>
        <p>
            Your password was changed on
            {{date}}
            at
            {{time}}.
        </p>
        <p>
            Your new password is
            {{password}}
        </p>
        <p>
            If this change was not initiated by you, reply this email immediately to lock down your account.
        </p>
        <p>
            We recommend changing your password again immediately you sign in.
        </p>
    </body>

</html>